#page-content {
  padding-top: 80px;

  #left-region {
    width: 50%;
    float: left;
  }

  #right-region {
    width: 50%;
    float: left;
  }

  ul.list-group {
    li.list-group-item {
      &:hover {
        @extends .active;
      }
    }
  }
}
