#page-content {
  padding-top: 80px;
  margin: 0 80px 0 80px;

  #left-region, #right-region {
    width: 50%;
    float: left;
    padding: 1em;
  }

  ul.list-group {
    li.list-group-item {
      &:hover {
        @extends .active;
      }
    }
  }
}
