%nav.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
  .row
    .container
      .navbar-header
        = link_to 'Dicto', root_path, class: 'navbar-brand'
      %nav.collapse.navbar-collapse
        %nav#header-region.nav.navbar-nav
        %nav.nav.navbar-nav.navbar-right
          %li
            - if current_user.present?
              = link_to t('navigation.logout'), destroy_user_session_path, { method: :delete }
            - else
              = link_to t('navigation.login'), new_user_session_path
